body {
    margin: 0;
}

main>.logo {
    text-align: center;
    margin: 1rem;
    box-sizing: border-box;
}

main>.box {
    margin: 1rem;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

main .notice {
    color: red;
}

main>.logo>.text {
    font-size: 24px;
    font-weight: bold;
}

html {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(./logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

main {
    height: 100%;
    width: 100%;
}