<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pygment_style.css">
    <script src="/js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">
          <a href="/index.html">billygoat891</a>
        </h1>
        <p class="header">Web Developer</p>

        <!--Mobile friendly links-->
        <p class="view">
          <a href="/mytube">MyTube</a>
          <a href="woozyos/">Woozy OS</a>
          <a href="social">Social Media</a>
        </p>

        <!--Desktop friendly links-->
        <ul>
          <li><a href="/mytube">Vist <strong>MyTube</strong></a></li>
          <li><a href="woozyos/">Woozy <strong>OS</strong></a></li>
          <li><a href="social">Social <strong>Media</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      <center><p>Hosted on <a href="http://pages.github.com">GitHub Pages</a> using a modified Modernist theme by <a href="https://github.com/orderedlist">orderedlist</a></p></center>
      <center><a herf="https://billygoat891.github.io/"><img src="/images/bg891_button.gif" alt="bilygoat891" class="badge" border="0"></a></center>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
